<%= form_for(@project) do |f| %>
	<% @project.errors.full_messages.each do |error| %>
		<p><%= error %></p>
	<% end %>

	<%= f.label :title %><br>
	<%= f.text_field :title %><br>

	<%= f.label :description %><br>
	<%= f.text_field :description %><br>

	<%= f.label :team_id, "Select a Team:"%>
	<%= f.collection_select :team_id, Team.all, :id, :name%><br>

	<%= f.submit %>
<% end %>